.submit-button {
  background-image: linear-gradient(to right, #6f52ed, #01ddf1);
  border: 2px solid #030101;
  font-size: 14px;
  padding: 0.5px 3px;
  cursor: pointer;
  width: 30vw;
  color: rgb(0, 0, 0);
}

.submit-button:hover {
  background-image: linear-gradient(to right, #01ddf1, #6f52ed);
}
